

<section class="hero">

  <!-- BACKGROUND VIDEO -->
  <video class="hero-video" autoplay muted loop playsinline>
   <!-- <source src="assets/videos/hro-bgvideo.mp4" type="video/mp4">-->
    <source [src]="videoUrl" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- DARK OVERLAY -->
  <div class="hero-overlay"></div>

  <!-- CONTENT -->
  <div class="hero-content">

    <div class="hero-text">
      <h4>Interior Design Studio</h4>

      <h1>
        Transform Your Space into
        <span>Modern Luxury</span>
      </h1>

      <p>
        We design elegant and functional interiors for homes and offices.
      </p>

      <div class="buttons">
        <button routerLink="/consultation">Get Consultation</button>
        <button routerLink="/services" class="outline">Services</button>
      </div>
    </div>

  </div>

</section>

<app-services></app-services>
<app-consultation></app-consultation>
<app-about></app-about>

