<section class="page">

  <!-- Background Video -->
  <video autoplay muted loop playsinline class="bg-video">
    <source src="assets\videos\Service-video.mp4 (2).mp4">
  </video>

  <!-- Dark Overlay -->
  <div class="overlay"></div>

  <!-- Content -->
  <div class="content">
    <h1>Our Services</h1>

    <div class="grid">
      <div class="card" *ngFor="let item of services">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>

</section>