<div class="container mt-4">
    <div class="table-container">

        <h2>User List</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>User Type</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.userType }}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>